{% extends 'core/base.html' %}

{% block title %}Excluir Funcionário - Visitas Corporativas{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h4 fw-bold">Excluir Funcionário</h1>
</div>

<div class="card shadow-sm col-lg-6">
    <div class="card-body">
        <h5 class="card-title text-danger">Tem certeza que deseja excluir?</h5>
        <p class="card-text">
            Você está prestes a excluir o(a) funcionario(a) <strong>{{ object.nome }}</strong>.
            Esta ação não pode ser desfeita.
        </p>
        
        <form method="post">
            {% csrf_token %}
            <div class="mt-4 pt-2 border-top d-flex gap-2">
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash me-1"></i> Sim, Excluir</button>
                <a href="{% url 'core:funcionario_list' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
